<p>  <%= message %> </p>
<form action="/weather">
  <input name="zipCode" size="5" type="text">
</form>
<body>
  <ul>
    <h2> <%= messageRand %> </h2> 
    <!-- location data from wheather-js -->
    <h2>Location</h2>
    <%= locationData %>
    <% for(let key in locationData) { %>
      <li><%= key %> : <%= locationData[key] %></li>
      <% } %>
      <!-- current data from wheather-js -->
    <h2>Current</h2>
    <%= currentData %>
    <% for(let key in currentData) { %>
      <li><%= key %> : <%= currentData[key] %></li>
      <% } %>
      <!-- forecast data form wheather-js -->
    <h2>Forecast</h2>
    <%= forecastData %>
    <% for(let object in forecastData) { %>
        <h3>Day: <%= forecastData[object]['day'] %>  </h3>
     <%   for(let key in forecastData[object]) { %>
          <li><%= key %> : <%= forecastData[object][key] %></li>
     <% }  
      } %>
    </ul>
</body>