<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body style="text-align: center;">
    <h2><%= result.current.date %> <br /></h2>
    <h2>Weather for <%= result.location.name %></h3>
    <ul style="border: 2px solid blue">
      
      <li><h3>CURRENT WEATHER: </h3>
        <%= result.current.temperature %> °F %> <br /> <br />
        <%= result.current.skytext %> <br /> <br />
        <%= result.current.humidity %>% humidity <br /> <br />
      </li>
    </ul>
</body>
</html>