<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather result</title>
</head>

<body>
    <main>
        <h1>The weather in <%= result.location.name %> is:</h1>
        <h3>It is currently <%= result.current.temperature %>°F and <%= result.current.skytext %> 
            <img src="<%= result.current.imageUrl %>"></h3>
             <!--^ I used this from the solution couldnt find this  -->
        <h5>Humidity at <%= result.current.humidity %>% and <%= result.current.winddisplay %> winds.</h5>
        </ul>
    </main>
</body>

</html>